[2022-05-02 21:43] mheagin commented on #197
no quick and dirty I opened arc map, I will give it another try.

[2022-05-02 21:57] gregbunce commented on #197
@mheagin you will need to make a database connection (pro or arccatalog) to the Internal db using operating system auth.  then, you should have access to edit it.

![image](https://user-images.githubusercontent.com/16906316/166334016-51dae05a-e3d6-4d60-b79e-0c7691eb9246.png)

[2022-05-02 22:17] stdavis commented on #136
[RITM0201027](https://utah.service-now.com/sc_req_item.do?sys_id=135ebbd887df0510cf9f437d0ebb35fa&sysparm_record_target=sc_req_item&sysparm_catalog=e0d08b13c3330100c8b837659bba8fb4&sysparm_catalog_view=catalog_Service_Catalog)

[2022-05-02 23:27] mheagin commented on #196
Thanks @gregbunce   I will get that database added to my favorites in Pro

[2022-05-02 23:47] steveoh commented on #196
Michael added the office. for some reason mike really wasn't able to edit that table.

[2022-05-03 14:11] stdavis commented on #138
Marc finally got everything updated as of this morning. I removed the app from our web server.

[2022-05-03 14:11] #138 closed

[2022-05-03 16:42] mheagin commented on #197
Connection in Pro completed, edit done

[2022-05-03 16:45] mheagin commented on #196
Everything is fine now, I was able to edit.

[2022-05-05 23:13] nathankota opened #203 "Deprecate DAQ Compliance App"
The original sponsor of the app left DAQ a few years ago. Since then DAQ has developed a Survey123 app and some other AGOL capabilities to replace their need for the compliance application.

- **Application Name**: DAQ Compliance
- **Application Url**: complianceapp.utah.gov (complianceapp.dev.utah.gov)

_A short summary of the situation._
(see summary above)

## Action items

1. _Assign a person

[2022-05-05 23:34] steveoh commented on #203
I'm done.

[2022-05-09 12:46] nathankota commented on #203
[INC1648775](https://utah.service-now.com/nav_to.do?uri=incident.do%3Fsys_id=74ddb1e687970d5002637489cebb35ed%26sysparm_stack=incident_list.do%3Fsysparm_query=active=true) for the DNS records.

[2022-05-09 13:12] nathankota commented on #203
messaged Lexie to remove _agrc_deqedocs_ro_ user from ITDB222SP

[2022-05-09 15:00] agrc-conductor commented on #203
## conductor results for tasks - 203

| check | status |
| - | :-: |
| @nathankota has completed **1** out of **2** tasks | :no_entry: |
| steveoh has completed **3** out of **3** tasks | :+1: |

[2022-05-09 15:00] agrc-conductor commented on #200
## conductor results for tasks - 200

| check | status |
| - | :-: |
| @ZachBeck has completed **7** out of **9** tasks | :no_entry: |
| @steveoh has completed **1** out of **4** tasks | :no_entry: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| @jacobdadams has completed **0** out of **1** tasks | :no_entry: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |

[2022-05-09 15:00] agrc-conductor commented on #201
## conductor results for tasks - 201

| check | status |
| - | :-: |
| ZachBeck has completed **2** out of **2** tasks | :+1: |
| @steveoh has completed **0** out of **4** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| @rkelson has completed **0** out of **1** tasks | :no_entry: |

[2022-05-09 15:00] agrc-conductor commented on #199
## conductor results for tasks - 199

| check | status |
| - | :-: |
| eneemann has completed **1** out of **1** tasks | :+1: |
| rkelson has completed **8** out of **8** tasks | :+1: |
| @steveoh has completed **2** out of **4** tasks | :no_entry: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has compl

[2022-05-09 15:00] agrc-conductor commented on #197
## conductor results for tasks - 197

| check | status |
| - | :-: |
| @jacobdadams has completed **0** out of **9** tasks | :no_entry: |
| @mheagin has completed **4** out of **5** tasks | :no_entry: |
| @jacobdadam has completed **0** out of **1** tasks | :no_entry: |
| ZachBeck has completed **1** out of **1** tasks | :+1: |
| @stdavis has completed **0** out of **4** tasks | :no_entry: |
| @st

[2022-05-09 15:00] agrc-conductor commented on #199
## conductor results for POLITICAL.DistrictCombinationAreas2022

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Data Source | :no_entry: |
| - Website URL | :no_entry: |
| - Description | :+1: |
| - Endpoint | :+

[2022-05-09 15:00] agrc-conductor commented on #197
## conductor results for ECONOMY.TaxEntities2020

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table | :no_entry: |
| open sgid | :+1: |
| open data | :no_entry: |
| arcgis online | :no_entry: |
| stewardship |  |
| - deprecation issue link | :+1: |

[2022-05-09 15:00] agrc-conductor commented on #171
## conductor results for planning.HousingUnitInventory

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :no_entry: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| stewardship | :no_entry: Did not find planning.HousingUnitInventory in the worksheet |

[2022-05-09 15:24] nathankota commented on #171
@jacobdadams I'm confused that conductor says it's in open data, but I cannot find an AGOL item for it to complete the stewardship doc (?)

[2022-05-09 15:31] eneemann commented on #202
I just added the website URL to the stewardship doc

[2022-05-09 17:15] jacobdadams commented on #171
Yeah, that is interesting. The forklift process to get it uploaded got hung up by the database migration and we're still working through that. It isn't in AGOL yet.

[2022-05-10 13:58] #203 closed

[2022-05-12 20:28] stdavis commented on #171
I deleted this data from hashing in forklift so that it would get a fresh push tomorrow night.

[2022-05-12 21:56] stdavis commented on #136
Finally deleted the files.

[2022-05-12 21:56] #136 closed

[2022-05-13 00:16] steveoh commented on #171
Is anyone planning to do the stewardship entry?

[2022-05-16 15:00] agrc-conductor commented on #202
## conductor results for tasks - 202

| check | status |
| - | :-: |
| eneemann has completed **4** out of **4** tasks | :+1: |
| rkelson has completed **3** out of **3** tasks | :+1: |
| @steveoh has completed **3** out of **4** tasks | :no_entry: |
| stdavis has completed **1** out of **1** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| gregbunce has completed **1

[2022-05-16 15:00] agrc-conductor commented on #199
## conductor results for tasks - 199

| check | status |
| - | :-: |
| eneemann has completed **1** out of **1** tasks | :+1: |
| rkelson has completed **8** out of **8** tasks | :+1: |
| @steveoh has completed **2** out of **4** tasks | :no_entry: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has compl

[2022-05-16 15:00] agrc-conductor commented on #199
## conductor results for POLITICAL.DistrictCombinationAreas2022

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Data Source | :no_entry: |
| - Website URL | :no_entry: |
| - Description | :+1: |
| - Endpoint | :+

[2022-05-16 15:00] agrc-conductor commented on #197
## conductor results for tasks - 197

| check | status |
| - | :-: |
| @jacobdadams has completed **0** out of **9** tasks | :no_entry: |
| @mheagin has completed **4** out of **5** tasks | :no_entry: |
| @jacobdadam has completed **0** out of **1** tasks | :no_entry: |
| ZachBeck has completed **1** out of **1** tasks | :+1: |
| @stdavis has completed **0** out of **3** tasks | :no_entry: |
| @st

[2022-05-16 15:00] agrc-conductor commented on #197
## conductor results for ECONOMY.TaxEntities2020

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table | :no_entry: |
| open sgid | :+1: |
| open data | :no_entry: |
| arcgis online | :no_entry: |
| stewardship |  |
| - deprecation issue link | :+1: |

[2022-05-16 15:01] agrc-conductor commented on #186
## conductor results for Environment.DEQMAP_COMPLIANCEUST

| check | status |
| - | :-: |
| internal sgid | :no_entry: |
| meta table | :no_entry: |
| open sgid | :no_entry: |
| open data | :no_entry: |
| arcgis online | :no_entry: |
| stewardship | :no_entry: Did not find Environment.DEQMAP_COMPLIANCEUST in the worksheet |

[2022-05-16 15:01] agrc-conductor commented on #184
## conductor results for tasks - 184

| check | status |
| - | :-: |
| @stdavis has completed **0** out of **15** tasks | :no_entry: |
| @ZachBeck has completed **0** out of **1** tasks | :no_entry: |
| @steveoh has completed **2** out of **3** tasks | :no_entry: |
| @jacobdadams has completed **0** out of **1** tasks | :no_entry: |
| gregbunce has completed **1** out of **1** tasks | :+1: |
| @rk

[2022-05-16 15:01] agrc-conductor commented on #184
## conductor results for Environment.DEQMAP_TANKUST

| check | status |
| - | :-: |
| internal sgid | :no_entry: |
| meta table | :no_entry: |
| open sgid | :no_entry: |
| open data | :no_entry: |
| arcgis online | :no_entry: |
| stewardship | :no_entry: Did not find Environment.DEQMAP_TANKUST in the worksheet |

[2022-05-16 15:37] ZachBeck commented on #153
Since the single [trax line](https://github.com/agrc/porter/issues/152) issue has been closed, this needs to be closed as well.

[2022-05-16 15:37] #153 closed

[2022-05-16 15:54] steveoh commented on #171
Did my checks today, i don't see any references in gis.utah.gov or the sgid index.

[2022-05-16 15:58] jacobdadams commented on #171
Yeah, these are forthcoming (got pushed back by UGIC).

On Mon, May 16, 2022 at 9:55 AM steveoh ***@***.***> wrote:

[2022-05-16 16:02] steveoh commented on #202
🎉

[2022-05-16 16:02] #202 closed

[2022-05-16 16:16] mheagin commented on #196
I thought we were depreciating those and only going with the current year.

[2022-05-16 16:18] steveoh commented on #196
In the SGID yes, but from the index, I thought there would still be links to historically relevant shelved data.

[2022-05-16 19:03] nathankota commented on #171
[Change log/data stewardship sheet](https://docs.google.com/spreadsheets/d/11ASS7LnxgpnD0jN4utzklREgMf1pcvYjcXcIcESHweQ/) updated

[2022-05-16 21:00] stdavis opened #207 "Remove Duplicate "Utah Political District Combination Areas 2012" from AGOL"
# Summary

- **Internal Dataset Name**: n/a
- **External Dataset Name**: Utah Political District Combination Areas 2012
- **ArcGIS Online Url**: https://utah.maps.arcgis.com/home/item.html?id=e8600e3fd32640259bea8908dee5e12b

This shelved dataset is a duplicate of [Utah District Combination Areas 2012](https://utah.maps.arcgis.com/home/item.html?id=2637fb57e9e84b359cae2554d3da8e7e). I'm not 100% s

[2022-05-17 00:07] steveoh commented on #200
The same two items were missing last week. They are both assigned to you @ZachBeck.

[2022-05-17 17:03] stdavis commented on #197
Seems good to me. I always like to wait for a clean conductor run.

[2022-05-17 17:57] steveoh commented on #197
https://github.com/agrc/porter/issues/196 needs the same treatment right?

[2022-05-17 19:06] jacobdadams commented on #197
For some reason I keep looking right over these two when looking at the open porter issues. I've got that one updated as well.

[2022-05-18 14:15] jacobdadams commented on #186
Auditor has successfully run against the data in the metatable. However, it moved it back to the Environment folder and re-shared it with the environment group because it is not yet in the AGOLItems_shelved table. Once the row is transferred there, it should move the folder and the group to shelved.

[2022-05-18 14:15] jacobdadams commented on #184
Auditor has successfully run against the data in the metatable. However, it moved it back to the Environment folder and re-shared it with the environment group because it is not yet in the AGOLItems_shelved table. Once the row is transferred there, it should move the folder and the group to shelved.

[2022-05-18 14:15] jacobdadams commented on #182
Auditor has successfully run against the data in the metatable. However, it moved it back to the Environment folder and re-shared it with the environment group because it is not yet in the AGOLItems_shelved table. Once the row is transferred there, it should move the folder and the group to shelved.

[2022-05-18 14:30] stdavis commented on #184
/remind me to move forward with hard delete on 5/31/2022

[2022-05-23 15:00] agrc-conductor commented on #207
## conductor results for tasks - 207

| check | status |
| - | :-: |
| @stdavis has completed **0** out of **4** tasks | :no_entry: |
| @jacobdadams has completed **0** out of **1** tasks | :no_entry: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| @steveoh has completed **0** out of **1** tasks | :no_entry: |
| @rkelson has completed **0** out of **1** tasks | :no_entry: |

[2022-05-23 15:00] agrc-conductor commented on #201
## conductor results for tasks - 201

| check | status |
| - | :-: |
| ZachBeck has completed **2** out of **2** tasks | :+1: |
| @steveoh has completed **0** out of **4** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| @rkelson has completed **0** out of **1** tasks | :no_entry: |

[2022-05-23 15:00] agrc-conductor commented on #200
## conductor results for tasks - 200

| check | status |
| - | :-: |
| @ZachBeck has completed **7** out of **9** tasks | :no_entry: |
| @steveoh has completed **1** out of **4** tasks | :no_entry: |
| stdavis has completed **1** out of **1** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| @rkelson ha

[2022-05-23 15:00] agrc-conductor commented on #199
## conductor results for tasks - 199

| check | status |
| - | :-: |
| eneemann has completed **1** out of **1** tasks | :+1: |
| rkelson has completed **8** out of **8** tasks | :+1: |
| steveoh has completed **4** out of **4** tasks | :+1: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **

[2022-05-23 15:00] agrc-conductor commented on #199
## conductor results for POLITICAL.DistrictCombinationAreas2022

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Data Source | :no_entry: |
| - Website URL | :no_entry: |
| - Description | :+1: |
| - Endpoint | :+

[2022-05-23 15:00] agrc-conductor commented on #197
## conductor results for ECONOMY.TaxEntities2020

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table | :+1: |
| stewardship |  |
| - deprecation issue link | :+1: |

[2022-05-23 15:00] agrc-conductor commented on #196
## conductor results for tasks - 196

| check | status |
| - | :-: |
| mheagin has completed **4** out of **4** tasks | :+1: |
| ZachBeck has completed **1** out of **1** tasks | :+1: |
| jacobdadams has completed **5** out of **5** tasks | :+1: |
| stdavis has completed **3** out of **3** tasks | :+1: |
| @steveoh has completed **3** out of **4** tasks | :no_entry: |
| gregbunce has completed **1

[2022-05-23 15:00] agrc-conductor commented on #171
## conductor results for tasks - 171

| check | status |
| - | :-: |
| @jacobdadams has completed **3** out of **4** tasks | :no_entry: |
| brigsz has completed **1** out of **1** tasks | :+1: |
| nathankota has completed **2** out of **2** tasks | :+1: |
| ZachBeck has completed **1** out of **1** tasks | :+1: |
| @steveoh has completed **4** out of **6** tasks | :no_entry: |
| stdavis has comple

[2022-05-23 15:00] agrc-conductor commented on #171
## conductor results for planning.HousingUnitInventory

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Website URL | :no_entry: |
| - Description | :+1: |
| - Data Source | :+1: |
| - Endpoint | :+1: |
| - Data T

[2022-05-23 15:27] steveoh commented on #171
I reran the sgid index action and it didn't make any changes. Did you add the website url to the stewardship sheet @jacobdadams?

[2022-05-23 15:29] steveoh commented on #199
@rkelson This is waiting on you and the stewardship spreadsheet.

[2022-05-23 15:36] jacobdadams commented on #171
Ah, forgot that. I just added it in 👍

[2022-05-23 15:51] steveoh commented on #197
can this be closed?

[2022-05-23 15:51] steveoh commented on #196
can this be closed?

[2022-05-23 15:52] stdavis commented on #207
/remind me to delete this item in two weeks

[2022-05-23 15:53] steveoh commented on #200
@ZachBeck is the new schema in the open sgid? I don't know the difference to be able to tell.

[2022-05-23 15:56] mheagin commented on #197
I say close it . And thanks everybody.

[2022-05-23 15:57] mheagin commented on #196
I say close it . And thanks everybody.

[2022-05-23 15:58] ZachBeck commented on #200
yep, it's there.

[2022-05-23 16:06] steveoh commented on #200
Update your validation then please.

<img width="414" alt="image" src="https://user-images.githubusercontent.com/325813/169861324-b0f00afd-f882-4660-9ee3-1fa15b213d83.png">

[2022-05-23 16:33] #197 closed

[2022-05-23 16:33] #196 closed

[2022-05-30 15:00] agrc-conductor commented on #201
## conductor results for tasks - 201

| check | status |
| - | :-: |
| ZachBeck has completed **2** out of **2** tasks | :+1: |
| @steveoh has completed **0** out of **4** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| @rkelson has completed **0** out of **1** tasks | :no_entry: |

[2022-05-30 15:00] agrc-conductor commented on #200
## conductor results for tasks - 200

| check | status |
| - | :-: |
| @ZachBeck has completed **9** out of **10** tasks | :no_entry: |
| stdavis has completed **1** out of **1** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @steveoh has completed **1** out of **3** tasks | :no_entry: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| @rkelson h

[2022-05-30 15:00] agrc-conductor commented on #199
## conductor results for tasks - 199

| check | status |
| - | :-: |
| eneemann has completed **1** out of **1** tasks | :+1: |
| rkelson has completed **8** out of **8** tasks | :+1: |
| steveoh has completed **4** out of **4** tasks | :+1: |
| stdavis has completed **1** out of **1** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out

[2022-05-30 15:00] agrc-conductor commented on #199
## conductor results for POLITICAL.DistrictCombinationAreas2022

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Data Source | :no_entry: |
| - Website URL | :no_entry: |
| - Description | :+1: |
| - Endpoint | :+

[2022-05-30 15:00] agrc-conductor commented on #171
## conductor results for tasks - 171

| check | status |
| - | :-: |
| jacobdadams has completed **4** out of **4** tasks | :+1: |
| brigsz has completed **1** out of **1** tasks | :+1: |
| nathankota has completed **2** out of **2** tasks | :+1: |
| ZachBeck has completed **1** out of **1** tasks | :+1: |
| steveoh has completed **6** out of **6** tasks | :+1: |
| stdavis has completed **1** out

[2022-05-30 15:00] agrc-conductor commented on #171
## conductor results for planning.HousingUnitInventory

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Description | :+1: |
| - Data Source | :+1: |
| - Website URL | :+1: |
| - Endpoint | :+1: |
| - Data Type |

[2022-05-30 17:58] #171 closed

[2022-05-31 13:37] nathankota commented on #201
@ZachBeck please assign all the unassigned tasks in this issue to yourself and/or coordinate with others so we can finish this up.

[2022-05-31 14:55] stdavis commented on #182
@ZachBeck This data is ready to be removed from internal...

[2022-05-31 15:56] steveoh commented on #182
These will need to be removed from change detection and the meta table also right?

[2022-05-31 15:57] steveoh commented on #201
In my opinion it is up to @gregbunce and I as the assigners to make sure they are all assigned.

[2022-05-31 16:00] steveoh commented on #182
Thanks Scott. I didn't check or know you did that. I was thinking of the sweeper and forklift issues we've had lately and offering a reminder.

[2022-05-31 16:06] nathankota commented on #201
Apologies @ZachBeck and @steveoh for stepping out of line.

[2022-05-31 16:34] gregbunce commented on #201
thanks for the nudge, @nathankota! @ZachBeck are you doing a soft delete first (see the options above)?  Feel free to assign most of the tasks to yourself, or others if needed.  I'm happy to do the assigning as well as long as you let me know if it's a soft delete first?

[2022-05-31 21:17] steveoh commented on #201
Zach is out today and this has been a weird porter issue because he replaced the existing dataset in our internal SGID. I don't believe the soil layer was every pushed out to the other SGID facets? So what is being deprecated is only an arcgis online item. This very well may be done but I'm unsure on all the details and if I'm telling lies or not.

[2022-06-01 15:31] stdavis commented on #182
I always appreciate reminders! I verified that this dataset has been removed from open sgid this morning.

[2022-06-06 15:00] agrc-conductor commented on #207
## conductor results for tasks - 207

| check | status |
| - | :-: |
| @stdavis has completed **3** out of **4** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| steveoh has completed **1** out of **1** tasks | :+1: |
| @rkelson has completed **0** out of **1** tasks | :no_entry: |

[2022-06-06 15:00] agrc-conductor commented on #201
## conductor results for tasks - 201

| check | status |
| - | :-: |
| ZachBeck has completed **2** out of **2** tasks | :+1: |
| @steveoh has completed **0** out of **4** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| rkelson has completed **1** out of **1** tasks | :+1: |

[2022-06-06 15:00] agrc-conductor commented on #200
## conductor results for geoscience.soils

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Description | :+1: |
| - Data Source | :+1: |
| - Website URL | :+1: |
| - Endpoint | :+1: |
| - Data Type | :+1: |

[2022-06-06 15:00] agrc-conductor commented on #199
## conductor results for tasks - 199

| check | status |
| - | :-: |
| eneemann has completed **1** out of **1** tasks | :+1: |
| rkelson has completed **8** out of **8** tasks | :+1: |
| steveoh has completed **4** out of **4** tasks | :+1: |
| stdavis has completed **1** out of **1** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out

[2022-06-06 15:00] agrc-conductor commented on #184
## conductor results for Environment.DEQMAP_TANKUST

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table | :+1: |
| stewardship | :no_entry: Did not find Environment.DEQMAP_TANKUST in the worksheet |

[2022-06-06 15:00] agrc-conductor commented on #182
## conductor results for tasks - 182

| check | status |
| - | :-: |
| stdavis has completed **16** out of **16** tasks | :+1: |
| @ZachBeck has completed **0** out of **1** tasks | :no_entry: |
| @steveoh has completed **2** out of **3** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| gregbunce has completed **1** out of **1** tasks | :+1: |
| @rkelson has com

[2022-06-06 15:45] #184 closed

[2022-06-06 15:45] #186 closed

[2022-06-07 16:12] ZachBeck commented on #201
Shouldn't the person who creates the issue do the assigning? Steve is mostly right... the old soils data was replaced with a new version with a different schema and the agol item needed to be deprecated and shelved (which has been done). The new and improved soils data is in internal-sgid and open-sgid as well as agol and open data. I'll try to get this cleaned up a little but it's pretty much rea

[2022-06-07 16:24] steveoh commented on #201
We've been operating that the `Group Task Assignments` are done by the 3 people in the list there to keep it consistent. I think it's great if the person creating the ticket assigns themselves to tasks. But we created the group task assignments to divy them up to the right people when the issue creator may not know who or what to do.

[2022-06-08 16:08] steveoh commented on #200
5/17 was the last update of soils to the open sgid. Change detection shows 5/24 as the last update. I'm going to bump change detection so it forces an update.

[2022-06-13 15:00] agrc-conductor commented on #200
## conductor results for tasks - 200

| check | status |
| - | :-: |
| ZachBeck has completed **11** out of **11** tasks | :+1: |
| stdavis has completed **1** out of **1** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @steveoh has completed **1** out of **3** tasks | :no_entry: |
| gregbunce has completed **1** out of **1** tasks | :+1: |
| rkelson has completed *

[2022-06-13 15:00] agrc-conductor commented on #201
## conductor results for tasks - 201

| check | status |
| - | :-: |
| ZachBeck has completed **2** out of **2** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| @steveoh has completed **0** out of **1** tasks | :no_entry: |
| rkelson has completed **1** out of **1** tasks | :+1: |

[2022-06-13 15:00] agrc-conductor commented on #182
## conductor results for tasks - 182

| check | status |
| - | :-: |
| stdavis has completed **16** out of **16** tasks | :+1: |
| ZachBeck has completed **1** out of **1** tasks | :+1: |
| @steveoh has completed **2** out of **3** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| gregbunce has completed **1** out of **1** tasks | :+1: |
| @rkelson has completed

[2022-06-13 15:00] agrc-conductor commented on #182
## conductor results for Environment.FacilityUST

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table | :+1: |
| stewardship |  |
| - deprecation issue link | :+1: |

[2022-06-20 15:00] agrc-conductor commented on #201
## conductor results for tasks - 201

| check | status |
| - | :-: |
| ZachBeck has completed **2** out of **2** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |
| @steveoh has completed **0** out of **1** tasks | :no_entry: |
| rkelson has completed **1** out of **1** tasks | :+1: |

[2022-06-20 15:00] agrc-conductor commented on #200
## conductor results for geoscience.soils

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Description | :+1: |
| - Data Source | :+1: |
| - Website URL | :+1: |
| - Endpoint | :+1: |
| - Data Type | :+1: |

[2022-06-20 15:00] agrc-conductor commented on #182
## conductor results for tasks - 182

| check | status |
| - | :-: |
| stdavis has completed **16** out of **16** tasks | :+1: |
| ZachBeck has completed **1** out of **1** tasks | :+1: |
| @steveoh has completed **2** out of **3** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| gregbunce has completed **1** out of **1** tasks | :+1: |
| @rkelson has completed

[2022-06-20 15:00] agrc-conductor commented on #199
## conductor results for POLITICAL.DistrictCombinationAreas2022

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Data Source | :no_entry: |
| - Website URL | :no_entry: |
| - Description | :+1: |
| - Endpoint | :+

[2022-06-20 15:00] agrc-conductor commented on #182
## conductor results for Environment.FacilityUST

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table | :+1: |
| stewardship |  |
| - deprecation issue link | :+1: |

[2022-06-20 18:29] #200 closed

[2022-06-20 18:31] steveoh commented on #199
@rkelson still waiting on you here.

[2022-06-22 22:30] eneemann opened #208 "Add EMS Response Areas"
# Summary
_Note: the name of this data has not yet been finalized._

- **Proposed Readable Name**: Utah EMS Response Areas
- **Proposed Internal Dataset Name**: EMSResponseAreas
- **Proposed External Dataset Name**: EMS_Response_Areas
- **Proposed Data Category**: SOCIETY (to match other NG911-centric datasets)
- **Data Description**: This polygon data was created to represent Emergency Medical Se

[2022-06-22 22:37] eneemann opened #209 "Add Fire Response Areas"
# Summary
_Note: the name of this data has not yet been finalized._

- **Proposed Readable Name**: Utah Fire Response Areas
- **Proposed Internal Dataset Name**: FireResponseAreas
- **Proposed External Dataset Name**: Fire_Response_Areas
- **Proposed Data Category**: SOCIETY (to match other NG911-centric datasets)
- **Data Description**: This polygon data was created to represent fire response are

[2022-06-27 15:00] agrc-conductor commented on #209
## conductor results for tasks - 209

| check | status |
| - | :-: |
| @eneemann has completed **5** out of **6** tasks | :no_entry: |
| ZachBeck has completed **1** out of **1** tasks | :+1: |
| @steveoh has completed **2** out of **4** tasks | :no_entry: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| gregbunce ha

[2022-06-27 15:00] agrc-conductor commented on #208
## conductor results for society.EMSResponseAreas

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Description | :+1: |
| - Data Source | :+1: |
| - Website URL | :+1: |
| - Endpoint | :+1: |
| - Data Type | :+1:

[2022-06-27 15:00] agrc-conductor commented on #199
## conductor results for tasks - 199

| check | status |
| - | :-: |
| eneemann has completed **1** out of **1** tasks | :+1: |
| rkelson has completed **8** out of **8** tasks | :+1: |
| steveoh has completed **4** out of **4** tasks | :+1: |
| stdavis has completed **1** out of **1** tasks | :+1: |
| jacobdadams has completed **1** out of **1** tasks | :+1: |
| @gregbunce has completed **0** out

[2022-06-27 15:00] agrc-conductor commented on #199
## conductor results for POLITICAL.DistrictCombinationAreas2022

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Data Source | :no_entry: |
| - Website URL | :no_entry: |
| - Description | :+1: |
| - Endpoint | :+

[2022-06-27 17:41] #208 closed

[2022-06-27 17:41] #209 closed

[2022-07-04 15:00] agrc-conductor commented on #199
## conductor results for POLITICAL.DistrictCombinationAreas2022

| check | status |
| - | :-: |
| internal sgid | :+1: |
| meta table |  |
| - item id | :+1: |
| - item name | :+1: |
| - geometry type | :+1: |
| open sgid | :+1: |
| open data | :+1: |
| arcgis online | :+1: |
| stewardship |  |
| - Description | :+1: |
| - Data Source | :+1: |
| - Website URL | :+1: |
| - Endpoint | :+1: |
| - Dat

[2022-07-05 17:07] #199 closed

[2022-10-19 18:00] stdavis commented on #102
The next step for this might be to check the (perhaps unreliable?) ArcGIS Server usage stats for these services.

[2022-10-24 15:00] agrc-conductor commented on #102
## conductor results for tasks - 102

| check | status |
| - | :-: |
| @gregbunce has completed **1** out of **3** tasks | :no_entry: |
| @steveoh has completed **0** out of **2** tasks | :no_entry: |
| @rkelson has completed **0** out of **1** tasks | :no_entry: |

[2022-10-24 16:31] brigsz opened #210 "Issue with Porter - need checkbox for inclusion in Application Portfolio Management (APM)"
### Describe the problem you are having
There is no good way to update our APM with porter the way it is now.

#### Should a new checkbox be added

Values
publish to APM?
I am unsure if that is enough to then add it to the APM in ServiceNow

[2022-10-26 14:54] stdavis opened #212 "Add New Application Template"
We have a template for [deprecating an app](https://github.com/agrc/porter/blob/main/.github/ISSUE_TEMPLATE/3-deprecate-application.md) but not for introducing one. Is there any consensus on creating one? It would help us remember things like #210. Maybe there are other steps that we should be verifying when we create new apps?

[2022-10-26 15:01] steveoh commented on #212
I bet @nathankota and @brigsz could come up with a checklist.

- Maintenance contract
- Archer diagram
- Etc

[2022-10-26 16:38] nathankota commented on #212
I will give a shot at adding to the list Steve started. For Porter, the list might fit well into the current layout where the issue creator (with help from whomever is needed) checks the box of the things that are needed, then signs/dates them when they are complete? Unless we need two sections: one for the required items, another for when they are completed?

- [ ] SOW or similar agreement (maybe

[2022-10-31 15:00] agrc-conductor commented on #102
## conductor results for tasks - 102

| check | status |
| - | :-: |
| @gregbunce has completed **1** out of **3** tasks | :no_entry: |
| @steveoh has completed **0** out of **2** tasks | :no_entry: |
| @rkelson has completed **0** out of **1** tasks | :no_entry: |

[2022-11-07 16:00] agrc-conductor commented on #102
## conductor results for tasks - 102

| check | status |
| - | :-: |
| @gregbunce has completed **1** out of **3** tasks | :no_entry: |
| steveoh has completed **4** out of **4** tasks | :+1: |
| rkelson has completed **1** out of **1** tasks | :+1: |
| @stdavis has completed **0** out of **3** tasks | :no_entry: |

[2022-11-07 16:44] stdavis commented on #102
What is the appropriate messaging for this deprecation? Tweet + email? Here is some possible verbiage:

@steveoh Can you help with getting this info out there? Does 4 weeks seem like a reasonable timeframe?

[2022-11-07 16:53] steveoh commented on #102
What email addresses would you use?

I'm fine to proceed without notification but a tweet seems normal and your message is good.

@brigsz, when is the next newsletter?

[2022-11-07 17:01] brigsz commented on #102
I don't think it is until January, around the week of the 17th is what I have on the calendar

[2022-11-07 17:02] stdavis commented on #102
I'm good with just a tweet. I'm not sure that the usage is enough to justify a separate spam to our newsletter email list.

[2022-11-07 17:44] steveoh commented on #102
/remind someone to remove the locators on december 5th

[2022-11-09 16:07] jacobdadams opened #214 "Add H3 hexes for the state"
# Summary

- **Proposed Readable Name**: Utah H3 Hexes Level 5/6/7/8/9
- **Proposed Internal Dataset Name**: h3_hexes_z5/6/7/8/9
- **Proposed External Dataset Name**: h3_hexes_z5/6/7/8/9
- **Proposed Data Category**: Index
- **Data Description**: The H3 hexes covering the State of Utah at zoom levels 5-9
- **Source Agency/Entity**: UGRC
- **Contact**: Jacob Adams
- **Update Frequency**: Static

Th

[2022-11-09 16:38] gregbunce commented on #214
i agree. I think it's super useful for comparative analysis and having these spatial pieces (the geom) readily available will be a huge time saver and also make the system easier to work with.  i think if it's in the sgid, other folks will take advantage of it as well.

i would say if an official source decides to serve it in the future then we point to that layer, but in the meantime, we serve it

[2022-11-09 16:41] jacobdadams commented on #214
Yeah, what Greg said. It provides a standardized grid that other agencies can use in their analyses. I see it as a functional/foundational layer.

[2022-11-09 18:35] steveoh commented on #214
We'll need to update the proposed names. `/` in a table name is not a great idea. If we follow the political boundary convention it would be something like `h3_hexes_5_to_9`.

[2022-11-09 19:12] jacobdadams commented on #214
There are five different layers- 5, 6, 7, 8, and 9.

[2022-11-09 20:15] stdavis commented on #214
It seems like a good fit for the SGID to me as well. Just because it allows for a common standard for analysis across the state.

[2022-11-09 20:44] jacobdadams commented on #214
For sweeper, should I do that before I load into SGID internal or wait until its in there and let the main sweeper check get it?

[2022-11-09 21:15] eneemann commented on #214
You could probably let sweeper get it after loading to internal.

[2022-11-10 00:12] jacobdadams commented on #214
Ok, here's an interesting licensing thought. The H3 system itself is licensed under Apache 2.0 (an open-source, preserve-copyright license). However, the polygons are generated by the H3 system but are not necessarily part of the system or the code (you don't download the polygons, you generate them).

Does this mean the polygons are still under the Apache 2.0 license? Or can we put them under our

[2022-11-10 01:04] steveoh commented on #214
Does that imply we shouldn't use h3 in the table name?

[2022-11-14 16:00] agrc-conductor commented on #214
## conductor results for tasks - 214

| check | status |
| - | :-: |
| @jacobdadams has completed **0** out of **7** tasks | :no_entry: |
| @steveoh has completed **1** out of **4** tasks | :no_entry: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| gregbunce has completed **1** out of **1** tasks | :+1: |

[2022-11-15 16:48] steveoh commented on #214
@eneemann or someone, will you create a draft pr referencing this issue as a part of the introduction steps please.

[2022-11-18 17:55] jacobdadams commented on #214
I've got a branch read for sweeper; @steveoh or @eneemann, can you give me write access to the repo so I can push?

[2022-11-19 16:44] steveoh commented on #214
It looks like you are already a contributor. What's the error you get?

[2022-11-21 17:05] #212 closed

[2022-11-21 17:05] #210 closed

[2022-11-22 15:10] ZachBeck opened #215 "Add Secondary Water Systems from DWR"
# Summary

- **Proposed Readable Name**: Utah Secondary Water Systems
- **Proposed Internal Dataset Name**: SecondaryWaterSystems
- **Proposed External Dataset Name**: Secondary_Water_Systems
- **Proposed Data Category**: Water
- **Data Description**: Service areas of secondary water suppliers
- **Source Agency/Entity**: DWR (Water Resources)
- **Contact**: Adam Clark
- **Update Frequency**: Quart

[2022-11-22 15:26] ZachBeck commented on #215
Ok, I think open data / agol will be fine.

[2022-11-22 16:06] ZachBeck opened #216 "Add Irrigation Companies from DWR"
# Summary

- **Proposed Readable Name**: Utah Irrigation Company Service Areas
- **Proposed Internal Dataset Name**: IrrigationCompanyServiceAreas
- **Proposed External Dataset Name**: Irrigation_Company_Service_Areas
- **Proposed Data Category**: Water
- **Data Description**: Irrigation company service areas of Utah
- **Source Agency/Entity**: DWR (Water Resources)
- **Contact**: Adam Clark
- **U

[2022-11-28 16:00] agrc-conductor commented on #216
## conductor results for tasks - 216

| check | status |
| - | :-: |
| @ZachBeck has completed **2** out of **5** tasks | :no_entry: |
| @steveoh has completed **0** out of **4** tasks | :no_entry: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| @jacobdadams has completed **0** out of **1** tasks | :no_entry: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |

[2022-11-28 16:00] agrc-conductor commented on #215
## conductor results for tasks - 215

| check | status |
| - | :-: |
| @ZachBeck has completed **2** out of **5** tasks | :no_entry: |
| @steveoh has completed **0** out of **5** tasks | :no_entry: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| @jacobdadams has completed **0** out of **1** tasks | :no_entry: |
| @gregbunce has completed **0** out of **1** tasks | :no_entry: |

[2022-11-28 16:00] agrc-conductor commented on #214
## conductor results for tasks - 214

| check | status |
| - | :-: |
| @jacobdadams has completed **3** out of **9** tasks | :no_entry: |
| @steveoh has completed **1** out of **4** tasks | :no_entry: |
| @stdavis has completed **0** out of **1** tasks | :no_entry: |
| gregbunce has completed **1** out of **1** tasks | :+1: |

[2022-11-28 17:12] stdavis commented on #216
I removed the forklift validation task since forklift isn't involved in this issue.